<h2>Component 1 - My heroes:</h2>
<md-chip-list>
    <md-chip>Zero</md-chip>
    <md-chip>Mr. Nice</md-chip>
    <md-chip>Narco</md-chip>
</md-chip-list>

<h2>Component 2 - My heroes:</h2>

<md-card class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>Zero</md-card-title>
      <md-card-subtitle>Hero favorite</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>
        Zero tiene superpoderes para ayudar a los más necesitados.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
  
  